:root {
  --color-yollow: #f9c74f;
  --color-purple: #9d4edd;
}

.App {
  text-align: center;
  padding: 4em 0;
}

.bg-yollow {
  background-color: var(--color-yollow);
}

.bg-purple {
  background-color: var(--color-purple);
}
